/* Estilos da página index.html */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #020111;
    color: #FBF8F5;
}

.navbar {
    font-size: 30px;
    display: flex;
    padding: 30px;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.banner {
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.texto {
    padding: 30px;
    text-align: justify;
}


.video {
    width: 75%;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
}

.tamanho-social {
    width: 50px;
    height: 50px;
    padding: 10px;
}

h1 {
    text-align: center;
    padding: 30px;
}

h2 {
    text-align: center;
    padding: 30px;
}

/* estilização de todos os links da página */
a {
    text-decoration: none;
    color: darkviolet;
}

/*  estilização dos links com o passe do cursor do mouse */
a:hover {
    color: #FBF8F5;
}


/* Estilos da página contato.html */

.contato {
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

#endereco {
    margin: 10px;
}

#divmapa {
    margin: 50px;
    align-items: center;
}